#!/bin/bash
# Aliases

alias ls='ls --color=auto'
alias ll="ls -l"
alias performance="sudo cpupower frequency-set -g performance"
alias ondemand="sudo cpupower frequency-set -g ondemand"
alias vi='vim'
alias less='less -S'
alias sudo="sudo -sE "                       # retain environment.  drop to root shell if no argument exists
alias rshift="redshift -l 38.71:-77.14 &"
alias rdp="rdesktop -a 24 -g 1280x1024 -z"
alias py='python2'
alias keyplug="setxkbmap -option terminate:ctrl_alt_bksp,compose:ralt,ctrl:nocaps,altwin:swap_alt_win"
alias lock="i3lock -c 000000"
alias grep='grep --color=auto'
alias pcon='perl -d -e 1'
alias wee="ssh -t filebot 'screen -U -rd'"
alias sprunge="curl -F 'sprunge=<-' http://sprunge.us"
alias ssh="TERM=xterm ssh"
