*
!.*
!.i3/
!.i3/*
!bin
!bin/*
!.vim/
!.vim/*
.bash_history
.bash_logout
.bash_profile
.esd_auth
.gitconfig
.pulse-cookie
.recently-used
.viminfo
.Atlas Editor
.ICEauthority
.VirtualBox
.Xauthority
.Xscrc
.asoundrc-old
.asoundrc.bak
.aspell.en.prepl
.aspell.en.pws
.beetsconfig
.beetsstate
.bitcoin/
.bzr.log
.com.jungledisk.service.status
.crawlrc
.desura/
.devede
.directory
.dmrc
.enigmarc.xml
.fehbg
.festival_history
.fonts.conf
.fonts.conf.bak
.fonts.conf.bak2
.galculator
.gnuplot-wxt
.gnuplot_history
.grip
.grip-flac
.grip-lame
.gtk-bookmarks
.gtkrc-2.0
.gtkrc-2.0-deleteme
.htoprc
.java/
.junglediskinstance
.junglediskserverinstance
.kinorc
.kobodlrc
.koules-levels
.lesshst
.linphonerc
.liquidwarrc
.lmmsrc.xml
.mysql_history
.netbeans/
.nv-backups/
.nvidia-settings-rc
.nvidia-settings-rc-old
.openalrc
.ophcrackrc
.perlpanelrc
.psql_history
.qt/
.repopickle_.gitconfig
.rnd
.scummvmrc
.serverauth.3076
.sqlite_history
.stastic
.swfinfo
.tintwizard.conf
.twinkle/
.vimprojects
.windows-serial
.wine/
.wmix.pid
.xkoules-controls
.xscreensaver

