! --[ Font Rendering ]-------------------------------------
Xft.dpi:       92
Xft.antialias: true
Xft.rgba:      rgb
Xft.hinting:   1
Xft.hintstyle: hintslight
Xft.autohint:  0
Xft.lcdfilter: lcddefault

! --[ Rodent ]----------------------------------------------
Xcursor.theme: Vanilla-DMZ
Xcursor.size:  24

! --[ URxvt - General ]-------------------------------------
!Rxvt*letterSpace: -1
URxvt.loginShell:true
URxvt.scrollBar:false
URxvt.saveLines:5000
!URxvt.cursorColor:#83C048
!URxvt.highlightColor:#444444
!URxvt.font: xft:DejaVuSansMono:pixelsize=12,xft:Symbola:pixelsize=10
!URxvt.boldFont: xft:DejaVuSansMono:pixelsize=12:bold,xft:Symbola:pixelsize=6:bold
!URxvt*font:       xft:Terminus:pixelsize=14
!URxvt*boldFont:   xft:Terminus:pixelsize=14
URxvt*font:       xft:MonoOne:pixelsize=12
URxvt*boldFont:   xft:MonoOne:pixelsize=12
!URxvt.font:xft:droid sans mono slashed:pixelsize=12
!URxvt.boldFont:xft:droid sans mono slashed:pixelsize=12
!URxvt.font:     -*-dina-medium-r-*-*-12-*-*-*-*-*-*-*
!URxvt.boldFont: -*-dina-medium-r-*-*-12-*-*-*-*-*-*-*
URxvt.internalborder: 0
URxvt.underlinecolor: #999999
URxvt.cutchars: "()*,<>[]{}|'"
URxvt.print-pipe: cat >/tmp/xxx
URxvt.visualBell: false
URxvt.iso14755: false
URxvt.iso14755_52: false
URxvt.scrollWithBuffer: true
URxvt.scrollTtyOutput: false
URxvt.scrollTtyKeypress: true
URxvt*transparent:    false
URxvt*shading:        0


! --[ URxvt - URL/Clipboard Handling ]----------------------
URxvt.perl-ext-common:      default,matcher
URxvt.url-launcher:         /usr/bin/chromium
URxvt.matcher.button:       1
!URxvt.keysym.M-u:           perl:url-select:select_next
!URxvt.url-select.launcher:  chromium
!URxvt.url-select.underline:true
!URxvt.keysym.M-Escape:      perl:keyboard-select:activate
!URxvt.keysym.M-s:           perl:keyboard-select:search

! --[ URxvt - colors ]--------------------------------------
URxvt.depth: 32
!URxvt.background: rgba:2222/2222/2222/bbbb
URxvt.background: rgba:0000/0000/0000/ccdd
!URxvt.background: [95]#000000
URxvt.foreground:#eeeeee

! --[ Color Scheme ]----------------------------------------
!#include ".config/xcolors/digerati"
!#include ".config/xcolors/tango"
!#include ".config/xcolors/upron"
!#include ".config/xcolors/erosionedit"
!#include ".config/xcolors/zenburn"
!#include ".config/xcolors/solarized"
#include ".config/xcolors/smyck"
!#include ".config/xcolors/4bit"
!#include ".config/xcolors/blackburn"
!#include ".config/xcolors/blackgum"
!#include ".config/xcolors/blue"
!#include ".config/xcolors/bw_b"
!#include ".config/xcolors/bw_w"
!#include ".config/xcolors/charlie_brown"
!#include ".config/xcolors/clean"
!#include ".config/xcolors/gohucolor"
!#include ".config/xcolors/euphrasia"
!#include ".config/xcolors/zenburn"
!#include ".config/xcolors/tango"
